<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.greyu.ysj.mapper.AdvMapper" >
  <resultMap id="BaseResultMap" type="com.greyu.ysj.entity.Adv" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="target" property="target" jdbcType="VARCHAR" />
    <result column="delete_flag" property="deleteFlag" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, image, target, delete_flag
  </sql>
  <select id="findAll" resultMap="BaseResultMap">
  	select 
  	<include refid="Base_Column_List"/>
  	from tb_advertise order by sort
  </select>
</mapper>